@model Clases_CRUD.CRUD_Modelos.Provedor

@{
    var titulo = "Esta Seguro de Eliminar el Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>

    <div class="row">
        <h2 class="text-danger">@titulo</h2>
    </div>
    <br />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cedula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
    
    <form asp-action="Eliminar">
        <input type="submit" value="Borrar" class="btn btn-danger" /> 
        <a asp-controller="Proveedores" asp-action="Index" class="btn btn-success">Regresar</a>
    </form>
</div>
